<%- content_for :title, t('view.staff.preferences.title') %>
<%- content_for :canonical_url, edit_staff_member_registration_path %>

<div class="staff-area">
  <div class="wrapper">

    <!-- Breadcrumbs -->
    <nav class="breadcrumbs">
      <ul>
        <li><%= link_to 'Staff Area', staff_root_path %></li>
        <li><%= link_to 'Account Preferences', edit_staff_member_registration_path %></li>
      </ul>
    </nav>

    <!-- Header -->
    <span class="subheading">Staff Controls</span>
    <h1>Account Preferences</h1>

    <hr/>

    <%= form_with model: current_staff_member, url: staff_member_registration_path, method: :put, remote: false do |f| %>

      <!-- Name -->
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, spellcheck: false %>
      </div>

      <!-- Email -->
      <div class="field">
        <%= form.label :email %>
        <%= form.email_field :email, spellcheck: false %>
      </div>

      <!-- Password -->
      <div class="field">
        <%= form.label :password, 'New Password' %>
        <%= form.password_field :password, autocomplete: 'off' %>
      </div>

      <!-- Password Confirmation -->
      <div class="field">
        <%= form.label :password_confirmation, 'Confirm new password' %>
        <%= form.password_field :password_confirmation, autocomplete: 'off' %>
      </div>

      <!-- Current password -->
      <div class="field">
        <%= f.label :current_password %><br/>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= form.submit 'Save Preferences', class: 'button' %>
      </div>

    <%- end %>
  </div>
</div>