<%= form_with model: @message, url: contact_path do |form| %>
  <!-- Name -->
  <div class="field">
    <%= form.label :name %><br/>
    <%= field_errors :name %>
    <%= form.text_field :name, placeholder: 'e.g. John Smith' %>
  </div>

  <!-- Subject -->
  <div class="field" id="js-subject">
    <%= form.label :subject %><br/>
    <%= form.text_field :subject, tabindex: '-1', autocomplete: 'off' %>
  </div>

  <!-- Contact email -->
  <div class="field">
    <%= form.label :email, 'Email Address' %><br/>
    <%= field_errors :email %>
    <%= form.email_field :email, placeholder: 'e.g. someone@example.com' %>
  </div>

  <!-- Message -->
  <div class="field">
    <%= form.label :body, 'Message' %><br/>
    <%= field_errors :body %>
    <%= form.text_area :body, placeholder: 'Be as descriptive as you like.' %>
  </div>

  <%= form.submit 'Send message', name: nil, class: 'button wide' %>
<% end %>
