<%- content_for :title, t('view.landing.index.title') %>
<%- content_for :description, t('view.landing.index.description') %>
<%- content_for :canonical_url, root_url %>

<div id="landing" class="landing">
  <div class="wrapper">
    <%= image_tag 'logo-verbose.svg' %>
  </div>
</div>

<!-- Products & Services -->
<div id="products-and-services" class="products-and-services">
  <div class="wrapper">

    <!-- Wraps together an image and some copy -->
    <div class="image-and-content">

      <!-- Image -->
      <div class="image-wrapper">
        <%= image_tag 'stock-3.jpeg' %>
      </div>

      <!-- Copy -->
      <div>
        <span class="subheading">What we do</span>
        <h1>Products &amp; Services</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus enim sem, eleifend pretium lectus eget, convallis venenatis tellus. Praesent sem turpis, vulputate vitae mattis at, vestibulum eu risus. Praesent consequat, odio eget vulputate feugiat, odio orci maximus leo, quis sodales felis orci ut felis.</p>
        <p><%= link_to 'View our work.', '#gallery', class: 'anchor' %></p>
      </div>

    </div>

    <div class="suppliers">

      <!-- Engineered stone suppliers -->
      <div>

        <h2>Engineered Stone</h2>

        <div class="links">

          <!-- Caeserstone -->
          <%= link_to 'http://www.caesarstone.com.au/', target: '_blank', class: 'caesarstone' do %>
            <%= image_tag 'caesarstone.png' %>
          <% end %>

          <!-- Silestone -->
          <%= link_to 'https://www.silestoneoceania.com/', target: '_blank', class: 'silestone' do %>
            <%= image_tag 'silestone.png' %>
          <% end %>

          <!-- Smartstone -->
          <%= link_to 'https://www.smartstone.com.au/', target: '_blank', class: 'smartstone' do %>
            <%= image_tag 'smartstone.png' %>
          <% end %>

          <!-- essastone -->
          <%= link_to 'http://www.essastone.com.au/', target: '_blank', class: 'essastone' do %>
            <%= image_tag 'essastone.png' %>
          <% end %>

          <!-- Quantum Quartz -->
          <%= link_to 'https://www.wk.com.au/pages/Quantum-Quartz-Engineered-Stone', target: '_blank', class: 'quantum-quartz' do %>
            <%= image_tag 'quantum-quartz.png' %>
          <% end %>

        </div>

      </div>

      <!-- Natural stone suppliers -->
      <div>

        <h2>Natural Stone</h2>

        <div class="links">

          <!-- CDK Stone -->
          <%= link_to 'https://www.cdkstone.com.au/', target: '_blank', class: 'cdk' do %>
            <%= image_tag 'cdk.png' %>
          <% end %>

          <!-- WK Stone -->
          <%= link_to 'https://www.wk.com.au/', target: '_blank', class: 'wk' do %>
            <%= image_tag 'wk.png' %>
          <% end %>

        </div>

      </div>

    </div>
  </div>
</div>

<!-- Gallery -->
<div id="gallery" class="gallery inverted">
  <div class="wrapper">

    <div class="head">
      <div>
        <span class="subheading">Our Work</span>
        <h1>Gallery</h1>
      </div>

      <!-- Hint -->
      <p class="hint">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
             height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
          <g id="Bounding_Boxes" display="none">
            <g id="ui_x5F_spec_x5F_header_copy_3" display="inline">
            </g>
            <path display="inline" fill="none" d="M0,0h24v24H0V0z"></path>
          </g>
          <g id="Rounded">
            <g id="ui_x5F_spec_x5F_header_copy_5">
            </g>
            <path d="M12,7L12,7c0.55,0,1,0.45,1,1v4c0,0.55-0.45,1-1,1h0c-0.55,0-1-0.45-1-1V8C11,7.45,11.45,7,12,7z M11.99,2
      		C6.47,2,2,6.48,2,12s4.47,10,9.99,10C17.52,22,22,17.52,22,12S17.52,2,11.99,2z M12,20c-4.42,0-8-3.58-8-8s3.58-8,8-8s8,3.58,8,8
      		S16.42,20,12,20z M13,17h-2v-2h2V17z"></path>
          </g>
        </svg>
        Click any image to zoom in
      </p>
    </div>

    <!-- Gallery images -->
    <div class="gallery-wrapper">
      <%= render @images %>
    </div>
  </div>

  <div class="dots dots-1"></div>
  <div class="dots dots-2"></div>
</div>

<!-- Contact and map -->
<div id="contact-us" class="contact-us inverted">
  <div class="wrapper">
    <span class="subheading">Start a Discussion</span>
    <h1>Contact Us</h1>

    <!-- Contact form -->
    <div class="js-contact-form">
      <%= render 'contact-form' %>
    </div>
  </div>
  <div id="js-map" class="map"></div>
  <script>
    function initMap () {
      var ncmg = { lat: -31.447172, lng: 152.887135 };
      var image = '<%= asset_url 'map-pin.png' %>';
      var map = new google.maps.Map(document.querySelector("#js-map"), {zoom: 12, center: ncmg, styles: [ { "elementType": "geometry", "stylers": [ { "color": "#29252c" } ] }, { "elementType": "labels.text.fill", "stylers": [ { "color": "#2cc36b" } ] }, { "elementType": "labels.text.stroke", "stylers": [ { "color": "#262c2c" } ] }, { "featureType": "poi.park", "elementType": "geometry", "stylers": [ { "color": "#393f3f" } ] }, { "featureType": "poi.park", "elementType": "labels.text.fill", "stylers": [ { "color": "#51cd85" } ] }, { "featureType": "road", "elementType": "geometry", "stylers": [ { "color": "#353e4a" } ] }, { "featureType": "road", "elementType": "geometry.stroke", "stylers": [ { "color": "#212a37" } ] }, { "featureType": "road", "elementType": "labels.text.fill", "stylers": [ { "color": "#9ca5b3" } ] }, { "featureType": "road.highway", "elementType": "geometry", "stylers": [ { "color": "#29b362" } ] }, { "featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [ { "color": "#1f2835" } ] }, { "featureType": "road.highway", "elementType": "labels.text.fill", "stylers": [ { "color": "#fcfdfc" } ] }, { "featureType": "transit", "elementType": "geometry", "stylers": [ { "color": "#2f3948" } ] }, { "featureType": "water", "elementType": "geometry", "stylers": [ { "color": "#4f5454" } ] }, { "featureType": "water", "elementType": "labels.text.fill", "stylers": [ { "color": "#515c6d" } ] }, { "featureType": "water", "elementType": "labels.text.stroke", "stylers": [ { "color": "#17263c" } ] } ]});
      var marker = new google.maps.Marker({position: ncmg, map: map, icon: image});
    }
  </script>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbsmGItLMYNDZHylorgS9bJ-hj13BR4XQ&callback=initMap"></script>