<%- content_for :title, t('view.staff.messages.index.title') %>
<%- content_for :canonical_url, staff_messages_url %>

<div class="staff-area">
  <div class="wrapper">

    <%= render 'staff/shared/password_banner' %>

    <!-- Breadcrumbs -->
    <nav class="breadcrumbs">
      <ul>
        <li><%= link_to 'Staff Area', staff_root_path %></li>
        <li><%= link_to 'Message History', staff_messages_path %></li>
      </ul>
    </nav>

    <span class="subheading">Staff Controls</span>
    <h1>Message History</h1>
    <p>View an exhaustive history of all messages sent using the contact us form.</p>

    <hr/>

    <div class="table-wrapper">
      <table class="model-list" id="messages">
        <%= render @messages %>
      </table>
    </div>

    <%= paginate @messages %>
    <p class="pagination-info"><%= page_entries_info @messages %></p>

  </div>
</div>