<%- content_for :title, t('view.staff.members.edit.title') %>
<%- content_for :canonical_url, staff_members_url %>

<div class="staff-area">
  <div class="wrapper">

    <%= render 'staff/shared/password_banner' %>

    <!-- Breadcrumbs -->
    <nav class="breadcrumbs">
      <ul>
        <li><%= link_to 'Staff Area', staff_root_path %></li>
        <li><%= link_to 'Staff Members', staff_members_path %></li>
        <li><%= link_to 'Edit Staff Member', edit_staff_member_path(@staff) %></li>
      </ul>
    </nav>

    <!-- Header -->
    <span class="subheading">Staff Controls</span>
    <h1>Edit Staff Member</h1>

    <hr/>

    <!-- Form -->
    <div class="js-form-wrapper">
      <%= render 'form' %>
    </div>

    <!-- Danger Zone -->
    <div class="danger-zone">
      <h2>Danger Zone</h2>
      <p>The following actions can be potentially dangerous, and may result in unforeseen consequences. Continue at your own risk.</p>
      <div class="buttons">
        <%= link_to "Delete #{@staff.name}", staff_member_path(@staff), class: 'button danger', method: :delete, data: { confirm: 'Are you sure you wish to delete this staff member? This action cannot be undone.', disable: true }, remote: true %>
      </div>
    </div>

  </div>
</div>