<%- content_for :title, t('view.staff.staff_members.index.title') %>
<%- content_for :canonical_url, staff_members_url %>

<div class="staff-area">
  <div class="wrapper">

    <%= render 'staff/shared/password_banner' %>

    <!-- Breadcrumbs -->
    <nav class="breadcrumbs">
      <ul>
        <li><%= link_to 'Staff Area', staff_root_path %></li>
        <li><%= link_to 'Staff Members', staff_members_path %></li>
      </ul>
    </nav>

    <div class="head-and-button">

      <!-- Header -->
      <div>
        <span class="subheading">Staff Controls</span>
        <h1>Staff Members</h1>
        <p>View all staff members that currently have access to this site. You may also alter some basic permissions.</p>
      </div>

      <!-- Button -->
      <div>
        <%= link_to new_staff_member_path, class: 'button' do %>
          <span>Create new account</span>
        <% end %>
      </div>
    </div>

    <hr/>

    <table class="model-list" id="staff-members">
      <%= render collection: @staff, partial: 'member' %>
    </table>

    <%= paginate @staff %>
    <p class="pagination-info"><%= page_entries_info @staff %></p>

  </div>
</div>