<%- content_for :title, t('view.auth.login.title') %>
<%- content_for :description, t('view.auth.login.description') %>
<%- content_for :canonical_url, new_staff_member_session_url %>

<div class="auth inverted">
  <div class="wrapper">
    <span class="subheading">Welcome back</span>
    <h1>Staff Login</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :username %><br/>
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br/>
        <%= f.password_field :password, autocomplete: 'off' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit 'Log me in', class: 'button wide' %>
      </div>
    <% end %>
  </div>

  <%= render 'devise/shared/links' %>
</div>
