<%= form_with model: @image, url: staff_image_path(@image), class: 'js-form' do |form| %>

  <!-- Title -->
  <div class="field">
    <%= form.label :title %><br/>
    <%= form.text_field :title, autofocus: true %>
  </div>

  <!-- Options -->
  <div class="field field-section">
    <h2>Options</h2>
    <div class="checkbox">
      <%= form.check_box :featured %>
      <%= form.label :featured %>
    </div>
    <div class="checkbox">
      <%= form.check_box :hidden %>
      <%= form.label :hidden %>
    </div>
  </div>

  <!-- Submit -->
  <div class="actions">
    <%= form.submit class: 'button' %>
  </div>

<% end %>