<%- content_for :title, t('view.staff.images.new.title') %>
<%- content_for :canonical_url, staff_images_url %>
<%- content_for :body_class, 'dropable' %>

<div class="staff-area">
  <div class="wrapper">

    <%= render 'staff/shared/password_banner' %>

    <!-- Breadcrumbs -->
    <nav class="breadcrumbs">
      <ul>
        <li><%= link_to 'Staff Area', staff_root_path %></li>
        <li><%= link_to 'Images', staff_images_path %></li>
        <li><%= link_to 'Upload Images', new_staff_image_path %></li>
      </ul>
    </nav>

    <!-- Header -->
    <span class="subheading">Staff Controls</span>
    <h1>Upload Images</h1>
    <p>Add one or many new images to the gallery. Drag and drop images on the page, or click the browse button to add files.</p>

    <div class="file-area-header">

      <!-- Hint -->
      <div class="hint">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
             height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
          <g id="Bounding_Boxes" display="none">
            <g id="ui_x5F_spec_x5F_header_copy_3" display="inline">
            </g>
            <path display="inline" fill="none" d="M0,0h24v24H0V0z"></path>
          </g>
          <g id="Rounded">
            <g id="ui_x5F_spec_x5F_header_copy_5">
            </g>
            <path d="M12,7L12,7c0.55,0,1,0.45,1,1v4c0,0.55-0.45,1-1,1h0c-0.55,0-1-0.45-1-1V8C11,7.45,11.45,7,12,7z M11.99,2
                		C6.47,2,2,6.48,2,12s4.47,10,9.99,10C17.52,22,22,17.52,22,12S17.52,2,11.99,2z M12,20c-4.42,0-8-3.58-8-8s3.58-8,8-8s8,3.58,8,8
                		S16.42,20,12,20z M13,17h-2v-2h2V17z"></path>
          </g>
        </svg>
        <p>Hint: Separate labels with commas</p>
      </div>

      <!-- File browser -->
      <div>
        <%= label_tag :file, class: 'button' do %>
          <svg class="material-icons" style="margin-left: -3px;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
               height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
            <g id="Bounding_Boxes">
              <path fill="none" d="M0,0h24v24H0V0z"></path>
            </g>
            <g id="Rounded">
              <path d="M10.59,4.59C10.21,4.21,9.7,4,9.17,4H4C2.9,4,2.01,4.9,2.01,6L2,18c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V8c0-1.1-0.9-2-2-2
                            h-8L10.59,4.59z"></path>
            </g>
          </svg>
          <span>Browse this device</span>
        <% end %>
        <%= file_field_tag :file, class: 'auto-submit', multiple: true, direct_upload: true %>
      </div>

    </div>

    <div class="file-area empty">
      <%= render 'empty-state' %>
    </div>

    <div class="file-area-footer">

      <div class="buttons">
        <!-- Upload -->
        <button class="upload button" disabled="">
          <span>Upload &amp; Save</span>
        </button>
      </div>

    </div>
  </div>

  <%= form_with url: staff_images_path, scope: :images, class: 'unstyled file-upload-form' %>
</div>