<!DOCTYPE html>
<html lang="en-AU">
  <head>
    <%- title = content_for?(:title) ? yield(:title) : 'North Coast Marble & Granite' %>
    <%- description = yield(:description) %>
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1, maximum-scale: 1.0" />
    <meta name="description" content="<%= description %>"/>
    <link rel="canonical" href="<%= yield(:canonical_url) %>">
    <meta property="og:url" content="https://www.ncmg.com.au"/>
    <meta property="og:image" content="<%= asset_url 'open-graph.jpg' %>"/>
    <meta property="og:title" content="<%= title %>"/>
    <meta property="og:description" content="<%= description %>">
    <meta name="theme-color" content="#2cc36b">
    <meta name="msapplication-navbutton-color" content="#2cc36b">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield(:scripts) if content_for?(:scripts) %>
  </head>

  <body class="<%= yield(:body_class) if content_for?(:body_class) %>">
    <%= render 'application/flashes' %>
    <%= render 'application/header' %>
    <%= yield %>
    <%= render 'application/footer' %>
  </body>
</html>
